<%- partial('_partial/head') %>

<body>
  <div id="content" class="inner">
    <header class="logo alignleft">
      <h1>
        <a href="<%- config.root %>"><%= config.title %></a>
        <span><%= config.subtitle %></span>
      </h1>
    </header>
    <div id="main-col" class="alignright"><div id="wrapper"><%- body %></div></div>
    <div id="sidebar" class="alignleft"><%- partial('_partial/sidebar') %></div>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>